.upload-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-box {
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  float: left;
  align-items: center;
}

.upload-container input {
  border: none;
  border-bottom: 1px solid rgb(233, 233, 233);
  margin: 10px;
  width: 50%;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
}

#image {
  margin: 10px;
  width: 100%;
  font-size: 18px;
  border-bottom: none;
}

#content {
  width: 50%;
  height: 500px;
}

.image-upload-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.image-upload-btn {
  width: 120px;
  height: 30px;
  background: rgb(17, 125, 0);
  font-size: 15px;

  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload-btn:hover {
  background: yellowgreen;
  color: rgb(0, 0, 0);
}

#file {
  display: none;
}

.preview-image-box {
  display: flex;
  overflow-x: scroll;
}

#preview-img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

#preview-img:hover {
  opacity: 0.5;
}

.tag-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tag {
  width: 100%;
  font-size: 18px;
}

.tags {
  margin-left: 2px;
  font-size: 13px;
  background-color: gray;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
}

.tags:hover {
  opacity: 0.5;
}

#addTag-btn {
  width: 70px;
  height: 20px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#upload-btn {
  width: 90px;
  height: 100px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 24px;
}

.uploading-box {
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;

  background-color: rgba(0, 0, 0, 0.5);
}

.animation-box {
  top: 40%;
  left: 46%;
  align-items: center;
  justify-items: center;

  position: absolute;
}

.animation-box h1 {
  position: relative;
  font-size: 3rem;
  color: white;
}

.animation-box h1::before {
  content: attr(data-text);
  color: green;
  position: absolute;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  animation: loading 2s ease infinite;
}

.animation-box h1::after {
  content: "";
  background: yellow;

  position: absolute;
  left: 0;
  bottom: -10px;
  overflow: hidden;
  width: 100%;
  height: 3px;
  animation: loadingLine 2s ease infinite;
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes loadingLine {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .upload-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .upload-box {
    border-top: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
  }

  .upload-container input {
    border: none;
    border-bottom: 1px solid rgb(233, 233, 233);
    margin: 10px;
    width: 80%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
  }

  #image {
    margin: 10px;
    width: 100%;
    font-size: 18px;
    border-bottom: none;
  }

  #content {
    width: 80%;
    height: 500px;
  }

  .image-upload-box {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-bottom: 1px solid rgb(233, 233, 233);
  }

  .preview-image-box {
    display: flex;
    overflow-x: scroll;
  }

  .tag-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #tag {
    width: 100%;
    font-size: 15px;
  }
  #addTag-btn {
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  #upload-btn {
    width: 80px;
    height: 90px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .uploading-box {
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .animation-box {
    top: 40%;
    left: 46%;
    align-items: center;
    justify-items: center;

    position: absolute;
  }

  .animation-box h1 {
    position: relative;
    font-size: 3rem;
    color: white;
  }

  .animation-box h1::before {
    content: attr(data-text);
    color: green;
    position: absolute;
    left: 0;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    animation: loading 2s ease infinite;
  }

  #preview-img {
    width: 70px;
    height: 70px;
    margin: 3px;
  }
  .animation-box h1::after {
    content: "";
    background: yellow;

    position: absolute;
    left: 0;
    bottom: -10px;
    overflow: hidden;
    width: 100%;
    height: 3px;
    animation: loadingLine 2s ease infinite;
  }
}
