* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

html {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background-color: yellowgreen;
}

body::-webkit-scrollbar-thumb {
  background-color: green;
}

body::-webkit-scrollbar-corner {
  background-color: yellow;
}

main {
  margin-left: 5rem;
}

.product-iamge {
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-size: cover;
  margin: 20px;
}

.product-container {
  width: 800px;
  height: 350px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-box {
  margin: 20px;
  border-bottom: 1px solid gray;
}

.detail-product-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.image-container {
  display: flex;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.detail-image img {
  width: 500px;
  height: 500px;
}
.wish {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.wish img {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 800px) {
  main {
    margin: 0;
    padding: 0;
  }

  .thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    margin: 10px;
  }

  .product-container {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .product-box {
    margin: 10px;
    border-bottom: 1px solid gray;
  }
}
